
.color_white{
    color: white;

}

.flex_center{
    display: flex;
    align-items: center;
}

.justify_around{
    justify-content: space-around;
}

.justify_center{
    justify-content: center;
}

.justify_between{
    justify-content: space-between;

}


.leftContainer{
    height: 100%;
    background: black;
    color: #808191;
    padding-top: 8px;

}

.header{
    font-weight: 500;
    line-height: 31px;
}

.headerText{
    display: flex;
    align-items: center;
}

.circle{
    margin-right: 10px;
    width: 29.82px;
    height: 28.24px;
    font-size: 15px;
    background-color: #3772FF;
    border-radius: 50%;
}

.menu{
    margin:5px 20px 10px 20px;
    padding-bottom: 30px;
}

.menuItem{
    margin-bottom: 5px;
    cursor: pointer;
    padding: 10px ;
}


.menuItem:hover{
    background-color: #353945;
    color: white;
border-radius: 12px;
}

.menuText{
    margin-left:30px ;
    font-size: 12px;
}


.bottom{
    position:relative;
    bottom: 30px;
    width: 100%;
    padding-right: 35px;
    padding-left: 15px;
    
}


.bottomItemHolder{
    display: flex;
    margin-bottom: 20px;
}


.bottomItem{
    background-color: #353945;
    border-radius: 10px;
    margin: 0;
    padding: 5px 10px;
    font-weight: 600 ;
}

.bottomItem>.circle{
    width: 17px;
    height: 17px;
    font-size: 10px;
}

.bottomItem p{
    margin: 0;
    padding: 0;
}

.bottomText{
    font-size: 14px;
}

.bottomTextBG{
    background-color: #A3E3FF;
}

.bottomTextColor{
    color:#3772FF; 
}

.itemToggle{
    width: 58px;
    background-color: #353945;
    border-radius: 12px;
    margin-left: 20px;
    padding: 3px 5px ;
}

.itemToggle .circle{
    height: 18px;
    width: 18px;
    margin-right: 0;
}

